.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
    border-color: black;
    border-radius: 7px;
    color: black;
    font-weight: 700;
    font-family: 'Catamaran', sans-serif;
    width: 40%;
}

.button:hover {
    cursor: pointer;
    filter: drop-shadow(0px 0px 2px black);
}

.button:focus { outline: 0; }

.button-container {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 5px 10px;
    width: 80%;
}

@media (min-width: 480px) and (min-height: 480px) {
  .button {
    font-size: 20px;
  }

  .button-text {
    display: inline-block;
    height: 20px;
    line-height: 22px;
  }
}

@media (min-width: 720px) and (min-height: 720px) {
  .button {
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .button-text {
    display: inline-block;
    height: 30px;
    line-height: 30px;
  }

  .button-container {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media (min-width: 960px) and (min-height: 720px) {
    .button {
      font-size: 40px;
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }